# EditorConfig is awesome: http://EditorConfig.org

root = true

[*]
end_of_line = lf
insert_final_newline = true

[*.{py,vim,vroom}]
indent_style = space
indent_size = 2
max_line_length = 80

[*.{py,vim}]
quote_type = single
